.header {
    height: 100vh;
    display: flex;
}

.sidebar {
    padding: 0 100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: indigo;
}

.sidebar-link {
    margin: 20px 0;
    color: white;
    text-decoration: none;
}

.header-content-wrapper {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.navbar {
    padding: 35px 0;
    display: flex;
    justify-content: space-around;
    background: aqua;
}

.navbar-link {
    color: black;
    text-decoration: none;
}

.header-content {
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
}

.first-section {
    height: 100vh;
    background: brown;
}